.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

@media (max-width: 640px) {
  .branding {
    padding: 20px;
    text-align: center;
    border-top: 4px solid #00aff0; }
    .branding__logo {
      max-width: 50%; }
    .branding__title {
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 0; }
    .branding__tagline {
      margin: 0;
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.4); }
    .branding__status {
      margin: 0;
      text-transform: uppercase;
      font-weight: 100; } }

@media (min-width: 64em) {
  .branding {
    position: absolute;
    background-color: white;
    padding: 42px 0 18px 42px;
    width: 40%;
    min-width: 400px; }
    .branding__logo {
      max-width: 240px; }
    .branding__title, .branding__tagline, .branding__status {
      margin: 0 0 0 52px; }
    .branding__title {
      font-weight: 300;
      font-size: 1.3rem;
      color: rgba(0, 0, 0, 0.6); }
    .branding__tagline {
      font-size: .9rem;
      font-weight: 800;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.4);
      letter-spacing: .3px; }
    .branding__status {
      text-transform: uppercase;
      font-weight: 100; } }

.inter-header--final {
  text-align: center; }

.byline {
  background-color: #333;
  display: inline-block;
  color: #666;
  padding: 3px 8px;
  text-decoration: none; }
  .byline:hover {
    color: white; }

.mobile-item--byline {
  text-align: center;
  background-color: #333 !important; }
  .mobile-item--byline a {
    color: #ddd;
    text-decoration: none;
    font-size: .9rem; }

@media (min-width: 64em) {
  #mobile {
    display: none; } }

.button {
  padding: 10px 0;
  text-align: center;
  border: 1px solid rgba(0, 175, 240, 0.3);
  background-color: rgba(0, 175, 240, 0.15);
  width: 100%;
  display: inline-block;
  color: #00aff0;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); }

.mobile-list {
  padding: 0; }

.mobile-item {
  list-style-type: none;
  padding: 30px 20px; }
  .mobile-item:nth-child(2n + 1) {
    background-color: rgba(0, 0, 0, 0.03); }
  .mobile-item__intervention {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    color: rgba(0, 0, 0, 0.7); }
  .mobile-item__organization {
    margin: 0;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6); }
  .mobile-item__country, .mobile-item__methodology {
    font-size: .9rem;
    margin: 10px 0 0 0;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3); }
    .mobile-item__country span, .mobile-item__methodology span {
      color: rgba(0, 0, 0, 0.7);
      display: block; }
  .mobile-item__methodology {
    margin: 10px 0 0 0;
    overflow: hidden; }
  .mobile-item__country {
    margin: 0; }
  .mobile-item__link a {
    margin-top: 10px; }
  .mobile-item__ongoing {
    padding: 5px;
    text-align: center;
    font-weight: 600;
    font-size: .9rem;
    background-color: #00aff0;
    margin: 10px 0 0;
    color: white;
    text-transform: uppercase; }
  .mobile-item__engagement {
    margin-bottom: 5px; }
    .mobile-item__engagement > div {
      max-height: 0;
      transition: all .4s ease;
      margin: 0;
      overflow: hidden; }
    .mobile-item__engagement h3 {
      font-size: .9rem;
      font-weight: 200;
      text-transform: uppercase;
      margin: 0;
      padding: 5px; }
    .mobile-item__engagement p {
      font-size: .8rem;
      font-weight: 200;
      text-transform: uppercase;
      padding: 0 5px;
      margin: 5px 0; }
  .mobile-item--transparency h3 {
    background-color: rgba(200, 100, 0, 0.2); }
  .mobile-item--transparency > div {
    background-color: rgba(200, 100, 0, 0.1); }
  .mobile-item--citizen-engagement h3 {
    background-color: rgba(0, 200, 100, 0.2); }
  .mobile-item--citizen-engagement > div {
    background-color: rgba(0, 200, 100, 0.1); }
  .mobile-item--responsiveness h3 {
    background-color: rgba(100, 0, 200, 0.2); }
  .mobile-item--responsiveness > div {
    background-color: rgba(100, 0, 200, 0.1); }
  .mobile-item--accountability h3 {
    background-color: rgba(0, 50, 150, 0.2); }
  .mobile-item--accountability > div {
    background-color: rgba(0, 50, 150, 0.1); }
  .mobile-item--social-change h3 {
    background-color: rgba(150, 150, 0, 0.2); }
  .mobile-item--social-change > div {
    background-color: rgba(150, 150, 0, 0.1); }

.mobile-item.js-active .mobile-item__engagement > div {
  max-height: 100px;
  transition: all .4s ease; }

body {
  font-size: 11px;
  line-height: 1.5;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  width: 100vw; }
  @media (min-width: 64em) {
    body {
      overflow: hidden; } }

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap; }

td, th {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

th {
  text-align: left;
  font-weight: 100; }

.links {
  text-align: center;
  width: 45px !important; }

.table-scroll {
  height: 70vh;
  overflow: scroll;
  padding-bottom: 50px; }

.table-body__width-setter td {
  height: 0;
  padding: 0; }

.col-2,
.col-4,
tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.05); }

.col-1 {
  width: 18%; }

.col-2 {
  width: 7%; }

.col-3 {
  width: 9%; }

.col-4 {
  width: 5%; }

.inactive-cell {
  background-color: rgba(255, 255, 255, 0.5);
  width: 5%; }

.inter-header {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }
  .inter-header td {
    padding: 12px 0 10px;
    background-color: #00aff0;
    color: white;
    letter-spacing: .5px; }
  .inter-header--final {
    background-color: rgba(0, 0, 0, 0.8) !important; }

.table-header {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); }
  .table-header td {
    padding: 10px 15px 10px 5px; }
  .table-header__top td {
    vertical-align: bottom; }

.table-categories th {
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center; }

.table-categories th:first-child {
  text-align: left; }

.regular-item__ongoing {
  text-align: center; }
  .regular-item__ongoing a {
    text-decoration: none;
    font-weight: 400;
    color: #00aff0;
    padding: 7px;
    display: block;
    font-size: 12px; }

.yes {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px;
  vertical-align: bottom;
  display: inline-block;
  transform: scale(1) rotate(-45deg);
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 14px;
  transition: all .3s ease; }
  .yes .material-icons {
    font-size: 1.3rem; }
  .yes:hover {
    transform: scale(1.2) rotate(135deg);
    transition: all .3s ease;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); }

.table-header-rotated .rotate {
  overflow: visible;
  height: 200px;
  white-space: nowrap; }
  .table-header-rotated .rotate > div {
    transform: translate(22px, 5px) rotate(315deg);
    width: 30px; }
  .table-header-rotated .rotate > div > span {
    padding: 9px 0 8px 0;
    width: 350px;
    display: inline-block;
    position: relative; }
    .table-header-rotated .rotate > div > span:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
      position: absolute;
      border-width: 0 31px 31px 31px;
      top: 0px;
      left: -62px; }

.links.cat-transparency {
  background-color: rgba(200, 100, 0, 0.1); }

.links.cat-transparency .yes {
  background-color: #c86400; }

.links.cat-transparency:nth-of-type(2n) {
  background-color: rgba(200, 100, 0, 0.15); }

.cat-transparency:before {
  border-right-color: rgba(200, 100, 0, 0.1) !important; }

.links.cat-citizen-engagement {
  background-color: rgba(0, 200, 100, 0.1); }

.links.cat-citizen-engagement .yes {
  background-color: #00c864; }

.links.cat-citizen-engagement:nth-of-type(2n) {
  background-color: rgba(0, 200, 100, 0.15); }

.cat-citizen-engagement:before {
  border-right-color: rgba(0, 200, 100, 0.1) !important; }

.links.cat-responsiveness {
  background-color: rgba(100, 0, 200, 0.1); }

.links.cat-responsiveness .yes {
  background-color: #6400c8; }

.links.cat-responsiveness:nth-of-type(2n) {
  background-color: rgba(100, 0, 200, 0.15); }

.cat-responsiveness:before {
  border-right-color: rgba(100, 0, 200, 0.1) !important; }

.links.cat-accountability {
  background-color: rgba(0, 50, 150, 0.1); }

.links.cat-accountability .yes {
  background-color: #003296; }

.links.cat-accountability:nth-of-type(2n) {
  background-color: rgba(0, 50, 150, 0.15); }

.cat-accountability:before {
  border-right-color: rgba(0, 50, 150, 0.1) !important; }

.links.cat-social-economic-change {
  background-color: rgba(150, 150, 0, 0.1); }

.links.cat-social-economic-change .yes {
  background-color: #969600; }

.links.cat-social-economic-change:nth-of-type(2n) {
  background-color: rgba(150, 150, 0, 0.15); }

.cat-social-economic-change:before {
  border-right-color: rgba(150, 150, 0, 0.1) !important; }

.table-categories .cat-transparency {
  background-color: #c86400; }

.table-categories .cat-citizen-engagement {
  background-color: #00c864; }

.table-categories .cat-responsiveness {
  background-color: #6400c8; }

.table-categories .cat-accountability {
  background-color: #003296; }

.table-categories .cat-social-economic-change {
  background-color: #969600; }

.table-header-rotated .cat-transparency > div > span {
  background-color: rgba(200, 100, 0, 0.1); }

.table-header-rotated .cat-transparency:nth-of-type(2n) > div > span {
  background-color: rgba(200, 100, 0, 0.15); }

.table-header-rotated .cat-transparency:nth-of-type(2n) > div > span:before {
  border-right-color: rgba(200, 100, 0, 0.15); }

.table-header-rotated .cat-transparency > div > span:before {
  border-right-color: rgba(200, 100, 0, 0.1); }

.table-header-rotated .cat-citizen-engagement > div > span {
  background-color: rgba(0, 200, 100, 0.1); }

.table-header-rotated .cat-citizen-engagement:nth-of-type(2n) > div > span {
  background-color: rgba(0, 200, 100, 0.15); }

.table-header-rotated .cat-citizen-engagement:nth-of-type(2n) > div > span:before {
  border-right-color: rgba(0, 200, 100, 0.15); }

.table-header-rotated .cat-citizen-engagement > div > span:before {
  border-right-color: rgba(0, 200, 100, 0.1); }

.table-header-rotated .cat-responsiveness > div > span {
  background-color: rgba(100, 0, 200, 0.1); }

.table-header-rotated .cat-responsiveness:nth-of-type(2n) > div > span {
  background-color: rgba(100, 0, 200, 0.15); }

.table-header-rotated .cat-responsiveness:nth-of-type(2n) > div > span:before {
  border-right-color: rgba(100, 0, 200, 0.15); }

.table-header-rotated .cat-responsiveness > div > span:before {
  border-right-color: rgba(100, 0, 200, 0.1); }

.table-header-rotated .cat-accountability > div > span {
  background-color: rgba(0, 50, 150, 0.1); }

.table-header-rotated .cat-accountability:nth-of-type(2n) > div > span {
  background-color: rgba(0, 50, 150, 0.15); }

.table-header-rotated .cat-accountability:nth-of-type(2n) > div > span:before {
  border-right-color: rgba(0, 50, 150, 0.15); }

.table-header-rotated .cat-accountability > div > span:before {
  border-right-color: rgba(0, 50, 150, 0.1); }

.table-header-rotated .cat-social-economic-change > div > span {
  background-color: rgba(150, 150, 0, 0.1); }

.table-header-rotated .cat-social-economic-change:nth-of-type(2n) > div > span {
  background-color: rgba(150, 150, 0, 0.15); }

.table-header-rotated .cat-social-economic-change:nth-of-type(2n) > div > span:before {
  border-right-color: rgba(150, 150, 0, 0.15); }

.table-header-rotated .cat-social-economic-change > div > span:before {
  border-right-color: rgba(150, 150, 0, 0.1); }

@media (max-width: 640px) {
  #desktop {
    display: none; } }
