{% extends '_base.html' %}
{% block main %}



<div class="submit-page">
<div class="b-form">
  <form action="https://docs.google.com/forms/d/1uZr1qhfxmLD-hOj38b747tvpZQOC-MhFNSW63vY8CIU/formResponse" target="_self" method="POST" id="mG61Hd">
    <div class="freebirdFormviewerViewFormCard">
      <div class="freebirdFormviewerViewAccentBanner freebirdAccentBackground"></div>
      <div class="freebirdFormviewerViewFormContent">
      <div class="freebirdFormviewerViewHeaderHeader">
      <div class="freebirdFormviewerViewHeaderTitleRow">
      <div class="freebirdFormviewerViewHeaderTitle" dir="auto" role="heading">OpenGovImpact - Submission Form</div>
      </div>
      <div class="freebirdFormviewerViewHeaderDescription" dir="auto">MAPPING THE LANDSCAPE</div>
      <div class="freebirdFormviewerViewHeaderRequiredLegend" aria-hidden="true" dir="auto">*Required</div>
      </div>
      <div class=freebirdFormviewerViewItemList role="list">
      <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" jsname="ibnC6b" jscontroller="rDGJeb"jsaction="sPvj8e:e4JwSe,vwKRrd;"data-required="true"data-input="L9xHkb"data-item-id="1487091920">
      <div class="freebirdFormviewerViewItemsItemItemheader">
      <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
      <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto">Type of Intervention <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">*</span>
      </div>
      </div>
      <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1487091920" dir="auto">
      </div>
      </div>
      <div class="freebirdFormviewerViewItemsTextItemWrapper">
      <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice">
      <div class="quantumWizTextinputPaperinputMainContent exportContent">
      <div class="quantumWizTextinputPaperinputContentArea">
      <input type="text"class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0"aria-label="Type of Intervention" aria-describedby="i.desc.1487091920 i.err.1487091920" name="OpenGovImpact - Submission Form" value="" required dir="auto" data-initial-dir="auto" data-initial-value="" />
      <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel" >Your answer</div>
      <div class="quantumWizTextinputPaperinputUnderline exportUnderline">
      </div>
      <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline">
      </div>
      </div>
      </div>
      <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint">
      </div>
      </div>
      </div>
      <input type="hidden" name="entry.2022128456" jsname="L9xHkb">
      <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1487091920" role="alert">
      </div>
      </div>
      <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" jsname="ibnC6b" jscontroller="rDGJeb"jsaction="sPvj8e:e4JwSe,vwKRrd;"data-required="true"data-input="L9xHkb"data-item-id="1108049566">
      <div class="freebirdFormviewerViewItemsItemItemheader">
      <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
      <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto">Organization <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">*</span>
      </div>
      </div>
      <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1108049566" dir="auto">
      </div>
      </div>
      <div class="freebirdFormviewerViewItemsTextItemWrapper">
      <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice">
      <div class="quantumWizTextinputPaperinputMainContent exportContent">
      <div class="quantumWizTextinputPaperinputContentArea">
      <input type="text"class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0"aria-label="Organization" aria-describedby="i.desc.1108049566 i.err.1108049566" name="OpenGovImpact - Submission Form" value="" required dir="auto" data-initial-dir="auto" data-initial-value="" />
      <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel" >Your answer</div>
      <div class="quantumWizTextinputPaperinputUnderline exportUnderline">
      </div>
      <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline">
      </div>
      </div>
      </div>
      <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint">
      </div>
      </div>
      </div>
      <input type="hidden" name="entry.1693150096" jsname="L9xHkb">
      <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1108049566" role="alert">
      </div>
      </div>
      <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" jsname="ibnC6b" jscontroller="rDGJeb"jsaction="sPvj8e:e4JwSe,vwKRrd;"data-required="true"data-input="L9xHkb"data-item-id="572092283">
      <div class="freebirdFormviewerViewItemsItemItemheader">
      <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
      <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto">Methodology <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">*</span>
      </div>
      </div>
      <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.572092283" dir="auto">
      </div>
      </div>
      <div class="freebirdFormviewerViewItemsTextItemWrapper">
      <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice">
      <div class="quantumWizTextinputPaperinputMainContent exportContent">
      <div class="quantumWizTextinputPaperinputContentArea">
      <input type="text"class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0"aria-label="Methodology" aria-describedby="i.desc.572092283 i.err.572092283" name="OpenGovImpact - Submission Form" value="" required dir="auto" data-initial-dir="auto" data-initial-value="" />
      <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel" >Your answer</div>
      <div class="quantumWizTextinputPaperinputUnderline exportUnderline">
      </div>
      <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline">
      </div>
      </div>
      </div>
      <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint">
      </div>
      </div>
      </div>
      <input type="hidden" name="entry.977430863" jsname="L9xHkb">
      <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.572092283" role="alert">
      </div>
      </div>
      <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" jsname="ibnC6b" jscontroller="rDGJeb"jsaction="sPvj8e:e4JwSe,vwKRrd;"data-required="true"data-input="L9xHkb"data-item-id="667920279">
      <div class="freebirdFormviewerViewItemsItemItemheader">
      <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
      <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto">Countries <span class="freebirdFormviewerViewItemsItemRequiredAsterisk" aria-hidden="true">*</span>
      </div>
      </div>
      <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.667920279" dir="auto">
      </div>
      </div>
      <div class="freebirdFormviewerViewItemsTextItemWrapper">
      <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice">
      <div class="quantumWizTextinputPaperinputMainContent exportContent">
      <div class="quantumWizTextinputPaperinputContentArea">
      <input type="text"class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0"aria-label="Countries" aria-describedby="i.desc.667920279 i.err.667920279" name="OpenGovImpact - Submission Form" value="" required dir="auto" data-initial-dir="auto" data-initial-value="" />
      <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel" >Your answer</div>
      <div class="quantumWizTextinputPaperinputUnderline exportUnderline">
      </div>
      <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline">
      </div>
      </div>
      </div>
      <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint">
      </div>
      </div>
      </div>
      <input type="hidden" name="entry.2083084865" jsname="L9xHkb">
      <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.667920279" role="alert">
      </div>
      </div>
      <div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b" jscontroller="hIYTQc"jsaction="JIbuQc:qzJD1c;sPvj8e:e4JwSe"data-other-input="qSV85" data-other-hidden="MfYA1e"data-item-id="450906430">
      <div class="freebirdFormviewerViewItemsItemItemheader">
      <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
      <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto">Is this a ongoing project?</div>
      </div>
      <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.450906430" dir="auto">
      </div>
      </div>
      <div jsname="JNdkSc" role="group" aria-label="Is this a ongoing project?" aria-describedby="i.desc.450906430 i.err.450906430 i.req.450906430">
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="This is a ongoing project" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="This is a ongoing project" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">This is a ongoing project</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.819808831" jsname="ekGZBc" disabled>
      </div>
      </div>
      <div id="i.req.450906430" class="screenreaderOnly">
      </div>
      <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.450906430" role="alert">
      </div>
      </div>
      <div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b" jscontroller="hIYTQc"jsaction="JIbuQc:qzJD1c;sPvj8e:e4JwSe"data-other-input="qSV85" data-other-hidden="MfYA1e"data-item-id="840037841">
      <div class="freebirdFormviewerViewItemsItemItemheader">
      <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
      <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto">Transparency</div>
      </div>
      <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.840037841" dir="auto">
      </div>
      </div>
      <div jsname="JNdkSc" role="group" aria-label="Transparency" aria-describedby="i.desc.840037841 i.err.840037841 i.req.840037841">
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="Fiscal and budget transparency" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="Fiscal and budget transparency" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">Fiscal and budget transparency</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.1934413671" jsname="ekGZBc" disabled>
      </div>
      </div>
      <div id="i.req.840037841" class="screenreaderOnly">
      </div>
      <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.840037841" role="alert">
      </div>
      </div>
      <div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b" jscontroller="hIYTQc"jsaction="JIbuQc:qzJD1c;sPvj8e:e4JwSe"data-other-input="qSV85" data-other-hidden="MfYA1e"data-item-id="1996934">
      <div class="freebirdFormviewerViewItemsItemItemheader">
      <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
      <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto">Citizen Engagement and Participation</div>
      </div>
      <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1996934" dir="auto">
      </div>
      </div>
      <div jsname="JNdkSc" role="group" aria-label="Citizen Engagement and Participation" aria-describedby="i.desc.1996934 i.err.1996934 i.req.1996934">
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="Voter turnout" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="Voter turnout" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">Voter turnout</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.1819280592" jsname="ekGZBc" disabled>
      </div>
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="Evidence-based electoral decisionmaking" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="Evidence-based electoral decisionmaking" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">Evidence-based electoral decisionmaking</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.1819280592" jsname="ekGZBc" disabled>
      </div>
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="Enhanced engagement other than voting" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="Enhanced engagement other than voting" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">Enhanced engagement other than voting</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.1819280592" jsname="ekGZBc" disabled>
      </div>
      </div>
      <div id="i.req.1996934" class="screenreaderOnly">
      </div>
      <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1996934" role="alert">
      </div>
      </div>
      <div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b" jscontroller="hIYTQc"jsaction="JIbuQc:qzJD1c;sPvj8e:e4JwSe"data-other-input="qSV85" data-other-hidden="MfYA1e"data-item-id="948465072">
      <div class="freebirdFormviewerViewItemsItemItemheader">
      <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
      <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto">Responsiveness</div>
      </div>
      <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.948465072" dir="auto">
      </div>
      </div>
      <div jsname="JNdkSc" role="group" aria-label="Responsiveness" aria-describedby="i.desc.948465072 i.err.948465072 i.req.948465072">
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="Answerability to public inquiry" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="Answerability to public inquiry" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">Answerability to public inquiry</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.167330069" jsname="ekGZBc" disabled>
      </div>
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="More inclusive decision-making processes" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="More inclusive decision-making processes" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">More inclusive decision-making processes</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.167330069" jsname="ekGZBc" disabled>
      </div>
      </div>
      <div id="i.req.948465072" class="screenreaderOnly">
      </div>
      <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.948465072" role="alert">
      </div>
      </div>
      <div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b" jscontroller="hIYTQc"jsaction="JIbuQc:qzJD1c;sPvj8e:e4JwSe"data-other-input="qSV85" data-other-hidden="MfYA1e"data-item-id="1882185913">
      <div class="freebirdFormviewerViewItemsItemItemheader">
      <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
      <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto">Accountability</div>
      </div>
      <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1882185913" dir="auto">
      </div>
      </div>
      <div jsname="JNdkSc" role="group" aria-label="Accountability" aria-describedby="i.desc.1882185913 i.err.1882185913 i.req.1882185913">
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="Hiring and firing of civil servants" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="Hiring and firing of civil servants" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">Hiring and firing of civil servants</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.1220854769" jsname="ekGZBc" disabled>
      </div>
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="Increased equity in service delivery" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="Increased equity in service delivery" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">Increased equity in service delivery</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.1220854769" jsname="ekGZBc" disabled>
      </div>
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="Increased quality in service delivery" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="Increased quality in service delivery" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">Increased quality in service delivery</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.1220854769" jsname="ekGZBc" disabled>
      </div>
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="Reduced corruption" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="Reduced corruption" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">Reduced corruption</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.1220854769" jsname="ekGZBc" disabled>
      </div>
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="Other local gov&#39;t and service provider accountability" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="Other local gov&#39;t and service provider accountability" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">Other local gov&#39;t and service provider accountability</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.1220854769" jsname="ekGZBc" disabled>
      </div>
      </div>
      <div id="i.req.1882185913" class="screenreaderOnly">
      </div>
      <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1882185913" role="alert">
      </div>
      </div>
      <div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b" jscontroller="hIYTQc"jsaction="JIbuQc:qzJD1c;sPvj8e:e4JwSe"data-other-input="qSV85" data-other-hidden="MfYA1e"data-item-id="788063589">
      <div class="freebirdFormviewerViewItemsItemItemheader">
      <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
      <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto">Social, Economic, Environmental change</div>
      </div>
      <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.788063589" dir="auto">
      </div>
      </div>
      <div jsname="JNdkSc" role="group" aria-label="Social, Economic, Environmental change" aria-describedby="i.desc.788063589 i.err.788063589 i.req.788063589">
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="Improved Health Outcomes" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="Improved Health Outcomes" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">Improved Health Outcomes</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.1921942726" jsname="ekGZBc" disabled>
      </div>
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="Better regulatory compliance" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="Better regulatory compliance" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">Better regulatory compliance</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.1921942726" jsname="ekGZBc" disabled>
      </div>
      <div jsname="MPu53c" jscontroller="GJQA8b" jsaction="JIbuQc:aj0Jcf" data-value="Enhanced trust in government" class="freebirdFormviewerViewItemsCheckboxChoice">
      <label class="docssharedWizToggleLabeledContainer">
      <div class="quantumWizTogglePapercheckboxEl docssharedWizToggleLabeledControl freebirdThemedCheckbox freebirdFormviewerViewItemsCheckboxControl" jscontroller="EcW08c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le; contextmenu:mg9Pef"jsshadow jsname="FkQz1b" aria-label="Enhanced trust in government" tabindex="0" role="checkbox" aria-checked="false">
      <div class="quantumWizTogglePapercheckboxInk exportInk">
      </div>
      <div class="quantumWizTogglePapercheckboxInnerBox">
      </div>
      <div class="quantumWizTogglePapercheckboxCheckMarkContainer">
      <div class="quantumWizTogglePapercheckboxCheckMark">
      <div class="quantumWizTogglePapercheckboxShort">
      </div>
      <div class="quantumWizTogglePapercheckboxLong">
      </div>
      </div>
      </div>
      </div>
      <div class="docssharedWizToggleLabeledContent">
      <div class="docssharedWizToggleLabeledPrimaryText">
      <span dir="auto" class="docssharedWizToggleLabeledLabelText freebirdFormviewerViewItemsCheckboxLabel">Enhanced trust in government</span>
      </div>
      </div>
      </label>
      <input type="hidden" name="entry.1921942726" jsname="ekGZBc" disabled>
      </div>
      </div>
      <div id="i.req.788063589" class="screenreaderOnly">
      </div>
      <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.788063589" role="alert">
      </div>
      </div>
      </div>
      <div class="freebirdFormviewerViewNavigationNavControls" jscontroller="lSvzH" jsaction="rcuQ6b:npT2md;JIbuQc:V3upec(GeGHKb),HiUbje(M2UYVd),NPBnCf(OCpkoe)" data-shuffle-seed="4864771939047713553">
      <div class="freebirdFormviewerViewNavigationButtonsAndProgress">
      <div class="freebirdFormviewerViewNavigationButtons">
      <div role="button" class="quantumWizButtonPaperbuttonEl quantumWizButtonPaperbuttonFlat quantumWizButtonPaperbuttonDark quantumWizButtonPaperbutton2El2 freebirdFormviewerViewNavigationSubmitButton" jscontroller="VXdfxd" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;"jsshadow jsname="M2UYVd" tabindex="0">
      <div class="quantumWizButtonPaperbuttonRipple exportInk" jsname="ksKsZd">
      </div>
      <div class="quantumWizButtonPaperbuttonFocusOverlay">
      </div>
      <content class="quantumWizButtonPaperbuttonContent">
      <span class="quantumWizButtonPaperbuttonLabel">Submit</span>
      </content>
      </div>
      </div>
      </div>
      <div class="freebirdFormviewerViewNavigationPasswordWarning">Never submit passwords through Google Forms.</div>
      </div>
      <input type="hidden" name="fvv" value="1">
      <input type="hidden" name="draftResponse" value="[,,&quot;4864771939047713553&quot;]
"><input type="hidden" name="pageHistory" value="0"><input type="hidden" name="fbzx" value="4864771939047713553"></div></div></form>
</div>

  
</div>

<a class="byline" href="http://www.claudiomendonca.com" target="_blank" title="Claudio Mendonca">Designed and Developed by Claudio Mendonca</a>
{% endblock %}



