body {
  font-size: 11px;
  line-height: 1.5;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap; }

td, th {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.links {
  text-align: center; }

.links a {
  color: #2a7896; }

tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.05); }

.inactive-cell {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9%; }

.col-1 {
  width: 20%; }

.col-2 {
  width: 7%; }

.col-3 {
  width: 9%; }

.col-4 {
  width: 5%; }

.table-categories th {
  font-weight: 100; }

.table-body thead th {
  padding: 0; }

.table-body__width-setter td {
  height: 0;
  padding: 0; }

.table-scroll {
  height: 70vh;
  overflow: scroll; }

.inter-header {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; }
  .inter-header td {
    padding: 10px;
    background-color: rgba(42, 120, 150, 0.3); }

.table-header {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }
  .table-header td {
    padding: 15px;
    font-weight: 100; }
  .table-header__bottom {
    background-color: white; }
    .table-header__bottom td {
      vertical-align: bottom; }

.table-header__bottom.table-header__bottom {
  vertical-align: bottom; }
  .table-header__bottom.table-header__bottom td {
    background-color: #FFF;
    font-weight: bold; }

.cat-transparency {
  background-color: rgba(0, 0, 255, 0.1); }

.cat-citizen-engagement {
  background-color: rgba(0, 128, 0, 0.1); }

.cat-responsiveness {
  background-color: rgba(255, 255, 0, 0.1); }

.cat-accountability {
  background-color: rgba(255, 165, 0, 0.1); }

.cat-social-economic-change {
  background-color: rgba(128, 0, 128, 0.1); }

.table-header-rotated .rotate {
  overflow: visible;
  height: 200px;
  white-space: nowrap; }
  .table-header-rotated .rotate > div {
    transform: translate(0px, 0px) rotate(315deg);
    width: 30px; }
  .table-header-rotated .rotate > div > span {
    padding: 5px 10px; }
