<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open Gov Impact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Social Media Meta Tags -->
    <meta property="og:site_name" content="Open Gov Impact"/>
    <meta property="og:title" content="Open Government Impact & Outcomes | Mapping the Landscape of Ongoing Research"/>
    <meta property="og:description" content="Based on information from 20 respondent organizations from across the academic-practitioner spectrum, the report maps a selection of open government interventions currently under study, as well as the outcomes and impact associated with each. Looking ahead, and with this landscape in mind, the Bank can contribute to understanding of open government in several ways."/>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <meta property="og:image" content="./img/open-gov-impact-preview.jpg">
    <meta property="og:url" content="http://opengovimpact.org/">
    <meta property="og:type" content="project website"/>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body id="">

<nav class="main-nav">
    <a href="./" class="main-nav__item">Home</a>    
    <a href="./about.html" class="main-nav__item">About</a>    
</nav>
{% block main %}

{% endblock %}
    
<div id="overlay"></div>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
<script src="js/scripts.js"></script>

<script>
  $(document).ready(function() {
    $('.js-toggle').click(function(){
      $(this).toggleClass('js-active');
    });
  });
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2291163-24', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>

