<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body id="">
    {% block main %}
    
    {% endblock %}
    </main>
    
<div id="overlay"></div>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>

