{% extends '_base.html' %}
{% block main %}

<div class="about-page">
  <div class="branding-about">
    <img class="branding__logo" src="img/open-government-logo.svg" alt="">
    <h1 class="branding__title">The Impact of Open Government</h1>
    <h2 class="branding__tagline">Mapping the landscape</h2>
    <h3 class="branding__status">Alpha Version</h3>
  </div>

  <section class="about-page__content">
    <h2>About</h2>
    <p>This table summarizes findings of a recent World Bank-funded mapping exercise designed to map the general landscape of research focused on the outcomes and impact associated with open government reforms and interventions. It was conceptualized and overseen by the recently created Open Government Research Consortium, which is comprised of the Bank’s Open Government Global Solutions Group, the Open Government Partnership, New York University’s Govlab, Global Integrity, and Results for Development (R4D).</p>
    <p>The purpose of the exercise is twofold. First, the landscape provided here will help identify gaps in the research activities and the Bank’s comparative advantage in filling some of these gaps. Ultimately, research should improve the quality of investments by the Bank and other development partners. Second, the report serves to take stock of current research, and seeks to help open government stakeholders – both researchers and practitioners - maximize synergies and complementarity for enhanced results.</p>
    <p>The full report, including a description of the table categories, is available here.</p>
    <p><a href="./img/og-impact-executive-summary.pdf" target="_blank" class="button">Download the Executive Summary</a></p>
    <p><a href="./img/og-impact-full-report.pdf" target="_blank" class="button">Download Full Report</a></p>
  </section>

  <section class="about-page__partners">
    <h2>Partners</h2>
    <a href="#"><img class="logo logo--wb" src="./img/worldbank-logo.png" alt="World Bank Group - Open Government Global Solutions Group"></a>
    <a href="#"><img class="logo logo--ogp" src="./img/open-government-partnership-logo.jpg" alt="Open Government Partnership"></a>
    <a href="#"><img class="logo logo--govlab" src="./img/govlab-logo.png" alt="The Govlab @ NYU"></a>
    <a href="#"><img class="logo logo--glogal-integrity" src="./img/global-integrity-logo.png" alt="Global Integrity"></a>
    <a href="#"><img class="logo logo--r4d" src="./img/results-for-development-logo.jpg" alt="Results for Development (R4D)"></a>
  </section>
</div>

<a class="byline" href="http://www.claudiomendonca.com" target="_blank" title="Claudio Mendonca">Designed and Developed by Claudio Mendonca</a>



{% endblock %}