{% extends '_base.html' %}
{% block main %}

{% macro yes() %}
<a href="{{d.url}}" target="_blank" class="yes"><i class="material-icons">check</i></a>
{% endmacro %}

<table class="table-header table table-header-rotated">
  <tr class="table-header__bottom ">
    <td class="col-1"><div>Type of Intervention tested</div></td>
    <td class="col-2"><div>Organization</div></td>
    <td class="col-3"><div>Primary Metdodology</div></td>
    <td class="col-4"><div>Countries</div></td>
    <td class="rotate"><div><span>Increased knowledge of rights</span></div></td>
    <td class="rotate"><div><span>Transparency</span></div></td>
    <td class="rotate"><div><span>Budget transparency</span></div></td>
    <td class="rotate"><div><span>Voter turnout</span></div></td>
    <td class="rotate"><div><span>Evidence-based electoral decisionmaking</span></div></td>
    <td class="rotate"><div><span>Enhanced engagement otder tdan voting</span></div></td>
    <td class="rotate"><div><span>Answerability</span></div></td>
    <td class="rotate"><div><span>More inclusive decision-making</span></div></td>
    <td class="rotate"><div><span>Hiring and firing</span></div></td>
    <td class="rotate"><div><span>Equitable service delivery</span></div></td>
    <td class="rotate"><div><span>Improved Public Services</span></div></td>
    <td class="rotate"><div><span>Reduced corruption</span></div></td>
    <td class="rotate"><div><span>Otder local gov't and service provider accountability</span></div></td>
    <td class="rotate"><div><span>Improved Healtd Outcomes</span></div></td>
    <td class="rotate"><div><span>Regulatory compliance</span></div></td>
    <td class="rotate"><div><span>Trust in government</span></div></td>
    <td class="rotate"><div><span>Increased efficiency of government</span></div></td>
    <td></td>
  </tr>
</table>

<div class="table-scroll">
  <table class="table-body">
  <thead>
    <td class="col-1"></td>
    <td class="col-2"></td>
    <td class="col-3"></td>
    <td class="col-4"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </thead>
  {% for d in data %}

    {% if d.intertitle %}
    <tr class="inter-header">
      <td colspan="22">{{d.intertitle}}</td>
    </tr>

    {% else %}
    <tr class="regular-item {{d.category}}">
      <td class="col-1" title="{{d.intervention}}">{{d.intervention}}</td>
      <td class="col-2" title="{{d.organization}}">{{d.organization}}</td>
      <td class="col-3" title="{{d.methodology}}">{{d.methodology}}</td>
      <td class="col-4" title="{{d.country}}">{{d.country}}</td>
      <td class="links transparency">{% if d.transparency.increased_knowledge %} {{yes()}} {% endif %}</td>
      <td class="links transparency">{% if d.transparency.transparency %} {{yes()}} {% endif %}</td>
      <td class="links transparency">{% if d.transparency.budget %} {{yes()}} {% endif %}</td>
      <td class="links citizen-engagement">{% if d.citizen_engagement.voter_turnout %} {{yes()}} {% endif %}</td>
      <td class="links citizen-engagement">{% if d.citizen_engagement.evidence_based %} {{yes()}} {% endif %}</td>
      <td class="links citizen-engagement">{% if d.citizen_engagement.enhanced_engagement %} {{yes()}} {% endif %}</td>
      <td class="links responsiveness">{% if d.responsiveness.answerability %} {{yes()}} {% endif %}</td>
      <td class="links responsiveness">{% if d.responsiveness.inclusive_decisionmaking %} {{yes()}} {% endif %}</td>
      <td class="links accountability">{% if d.accountability.hiring_firing %} {{yes()}} {% endif %}</td>
      <td class="links accountability">{% if d.accountability.service_delivery %} {{yes()}} {% endif %}</td>
      <td class="links accountability">{% if d.accountability.improved_services %} {{yes()}} {% endif %}</td>
      <td class="links accountability">{% if d.accountability.reduced_corruption %} {{yes()}} {% endif %}</td>
      <td class="links accountability">{% if d.accountability.other %} {{yes()}} {% endif %}</td>
      <td class="links social-economic-change">{% if d.social_economic_change.improved_health %} {{yes()}} {% endif %}</td>
      <td class="links social-economic-change">{% if d.social_economic_change.compliance %} {{yes()}} {% endif %}</td>
      <td class="links social-economic-change">{% if d.social_economic_change.trust_gov %} {{yes()}} {% endif %}</td>
      <td class="links social-economic-change">{% if d.social_economic_change.increased_efficiency %} {{yes()}} {% endif %}</td>
      <td></td>
    </tr>
    {% endif %}

  {% endfor %}
  </table>
</div>

<table class="table-categories">
  <tr>
    <td colspan="4">Open Government Outcomes and Impact</td>
    <td colspan="3">Transparency</td>
    <td colspan="3">Citizen Engagement and Participation</td>
    <td colspan="2">Responsiveness</td>
    <td colspan="5">Accountability</td>
    <td colspan="4">Social, Economic, Environmental change</td>
    <td></td>
  </tr>
  <tr>
    <td class="col-1">a</td>
    <td class="col-2">a</td>
    <td class="col-3">a</td>
    <td class="col-4">a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
  </tr>
</table>
{% endblock %}