{% extends '_base.html' %}
{% block main %}

{% macro yes() %}
<a href="{{d.url}}" target="_blank" class="yes"><i class="material-icons">check</i></a>
{% endmacro %}

<div class="table-top row flex-container">
  <div class="column flex column-info">Open Government Outcomes and Impact</div>
  
  <div class="column flex">Transparency</div>
  <div class="column flex">Citizen Engagement and Participation</div>
  <div class="column flex">Responsiveness</div>
  <div class="column flex">Accountability</div>
  <div class="column flex">Social, Economic, Environmental change</div>
  </div>

</div>

<div class="table-bottom row flex-container">
  <div class="flex-container flex column-info">
    <div class="column column-info1">Type of Intervention tested</div>
    <div class="column column-info2">Organization</div>
    <div class="column column-info3">Primary Methodology</div>
    <div class="column column-info4">Countries</div>
  </div>
  
  <div class="flex flex-container">
    <div class="column flex">Increased knowledge of rights</div>
    <div class="column flex">Transparency</div>
    <div class="column flex">Budget transparency</div>
  </div>
  
  <div class="flex flex-container">
    <div class="column flex">Voter turnout</div>
    <div class="column flex">Evidence-based electoral decisionmaking</div>
    <div class="column flex">Enhanced engagement odiver divan voting</div>
  </div>

  <div class="flex flex-container">
    <div class="column flex">Answerability</div>
    <div class="column flex">More inclusive decision-making</div>
  </div>
  
  <div class="flex flex-container">
    <div class="column flex">Hiring and firing</div>
    <div class="column flex">Equitable service delivery</div>
    <div class="column flex">Improved Public Services</div>
    <div class="column flex">Reduced corruption</div>
    <div class="column flex">Odiver local gov't and service provider accountability</div>
  </div>

  <div class="flex flex-container">
    <div class="column flex">Improved Healdiv Outcomes</div>
    <div class="column flex">Regulatory compliance</div>
    <div class="column flex">Trust in government</div>
    <div class="column flex">Increased efficiency of government</div>
  </div>
</div>
  
{% for d in data %}

{% if d.intertitle %}
<div class="intertitle row">{{d.intertitle}}</div>
{% else %}

<div class="row flex-container {{d.category}}">
  <div class="flex flex-container column-info">
    <div class="column column-info1">{{d.intervention}}</div>
    <div class="column column-info2">{{d.organization}}</div>
    <div class="column column-info3">{{d.methodology}}</div>
    <div class="column column-info4">{{d.country}}</div>
  </div>

  <div class="flex flex-container">
    <div class="column flex transparency">{% if d.transparency.increased_knowledge %} {{yes()}} {% endif %}</div>
    <div class="column flex transparency">{% if d.transparency.transparency %} {{yes()}} {% endif %}</div>
    <div class="column flex transparency">{% if d.transparency.budget %} {{yes()}} {% endif %}</div>
  </div>

  <div class="flex flex-container">
    <div class="column flex citizen-engagement">{% if d.citizen_engagement.voter_turnout %} {{yes()}} {% endif %}</div>
    <div class="column flex citizen-engagement">{% if d.citizen_engagement.evidence_based %} {{yes()}} {% endif %}</div>
    <div class="column flex citizen-engagement">{% if d.citizen_engagement.enhanced_engagement %} {{yes()}} {% endif %}</div>
  </div>

  <div class="flex flex-container">
    <div class="column flex responsiveness">{% if d.responsiveness.answerability %} {{yes()}} {% endif %}</div>
    <div class="column flex responsiveness">{% if d.responsiveness.inclusive_decisionmaking %} {{yes()}} {% endif %}</div>
  </div>

  <div class="flex flex-container">
    <div class="column flex accountability">{% if d.accountability.hiring_firing %} {{yes()}} {% endif %}</div>
    <div class="column flex accountability">{% if d.accountability.service_delivery %} {{yes()}} {% endif %}</div>
    <div class="column flex accountability">{% if d.accountability.improved_services %} {{yes()}} {% endif %}</div>
    <div class="column flex accountability">{% if d.accountability.reduced_corruption %} {{yes()}} {% endif %}</div>
    <div class="column flex accountability">{% if d.accountability.other %} {{yes()}} {% endif %}</div>
  </div>

  <div class="flex flex-container">
    <div class="column flex social-economic-change">{% if d.social_economic_change.improved_health %} {{yes()}} {% endif %}</div>
    <div class="column flex social-economic-change">{% if d.social_economic_change.compliance %} {{yes()}} {% endif %}</div>
    <div class="column flex social-economic-change">{% if d.social_economic_change.trust_gov %} {{yes()}} {% endif %}</div>
    <div class="column flex social-economic-change">{% if d.social_economic_change.increased_efficiency %} {{yes()}} {% endif %}</div>
  </div>
  
</div>
{% endif %}

{% endfor %}

{% endblock %}