{% extends '_base.html' %}
{% block main %}

{% macro yes() %}
<a href="{{d.url}}" target="_blank" class="yes" title="{{d.intervention}} | {{d.organization}}"><i class="material-icons">check</i></a>
{% endmacro %}

<div class="branding">
  <img class="branding__logo" src="img/worldbank-logo.png" alt="">
  <h1 class="branding__title">The Impact of Open Government</h1>
  <h2 class="branding__tagline">Mapping the landscape</h2>
</div>

<div id="desktop">
<table class="table-header">
  
  <tr class="table-header__top table table-header-rotated">
    <td class="col-1" title="Type of Intervention tested">Type of Intervention tested</td>
    <td class="col-2" title="Organization">Organization</td>
    <td class="col-3" title="Primary Metdodology">Primary Metdodology</td>
    <td class="col-4" title="Countries">Countries</td>
    <td class="rotate cat-transparency" title="Increased knowledge of rights"><div><span>Increased knowledge of rights</span></div></td>
    <td class="rotate cat-transparency" title="Transparency"><div><span>Transparency</span></div></td>
    <td class="rotate cat-transparency" title="Budget Transparency"><div><span>Budget transparency</span></div></td>
    <td class="rotate cat-citizen-engagement" title="Voter turnout"><div><span>Voter turnout</span></div></td>
    <td class="rotate cat-citizen-engagement" title="Evidence-based electoral decisionmaking"><div><span>Evidence-based electoral decisionmaking</span></div></td>
    <td class="rotate cat-citizen-engagement" title="Enhanced engagement otder tdan voting"><div><span>Enhanced engagement other than voting</span></div></td>
    <td class="rotate cat-responsiveness" title="Answerability"><div><span class="">Answerability</span></div></td>
    <td class="rotate cat-responsiveness" title="More inclusive decision-making"><div><span class="">More inclusive decision-making</span></div></td>
    <td class="rotate cat-accountability" title="Hiring and firing"><div><span class="">Hiring and firing</span></div></td>
    <td class="rotate cat-accountability" title="Equitable service delivery"><div><span class="">Equitable service delivery</span></div></td>
    <td class="rotate cat-accountability" title="Improved Public Services"><div><span class="">Improved Public Services</span></div></td>
    <td class="rotate cat-accountability" title="Reduced corruption"><div><span class="">Reduced corruption</span></div></td>
    <td class="rotate cat-accountability" title="Otder local gov't and service provider accountability"><div><span class="">Otder local gov't and service provider accountability</span></div></td>
    <td class="rotate cat-social-economic-change" title="Increased efficiency of government"><div><span class="">Increased efficiency of government</span></div></td>
    <td class="rotate cat-social-economic-change" title="Improved Healtd Outcomes"><div><span class="">Improved Health Outcomes</span></div></td>
    <td class="rotate cat-social-economic-change" title="Regulatory compliance"><div><span class="">Regulatory compliance</span></div></td>
    <td class="rotate cat-social-economic-change" title="Trust in government"><div><span class="">Trust in government</span></div></td>
    <td class="inactive-cell"></td>
  </tr>
  <tr class="table-categories">
      <th title="Open Government Outcomes and Impact" class="cat-info" colspan="4">Types of Open Government Outcomes and Impact Examined</th>
      <th title="Transparency" class="cat-transparency" colspan="3">Transparency</th>
      <th title="Citizen Engagement and Participation" class="cat-citizen-engagement" colspan="3">Citizen Engagement and Participation</th>
      <th title="Responsiveness" class="cat-responsiveness" colspan="2">Responsiveness</th>
      <th title="Accountability" class="cat-accountability" colspan="5">Accountability</th>
      <th title="Social, Economic, Environmental change" class="cat-social-economic-change" colspan="4">Social, Economic, Environmental change</th>
      <th class="inactive-cell"></th>
    </tr>
</table>

<div class="table-scroll">
  <table class="table-body">
  <thead>
    <tr class="table-body__width-setter">
      <td class="col-1"></td>
      <td class="col-2"></td>
      <td class="col-3"></td>
      <td class="col-4"></td>
      <td colspan="17"></td>
      <td class="inactive-cell"></td>
    </tr>
  </thead>
  {% for d in data %}

    {% if d.intertitle %}
    <tr class="inter-header">
      <td colspan="22">{{d.intertitle}}</td>
    </tr>

    {% else %}
    <tr class="regular-item {{d.category}}">
      <td class="col-1" title="{{d.intervention}}">{{d.intervention}}</td>
      <td class="col-2" title="{{d.organization}}">{{d.organization}}</td>
      <td class="col-3" title="{{d.methodology}}">{{d.methodology}}</td>
      
      <td class="col-4" title="{{d.country}}">{{d.country}}</td>

      {% if d.ongoing %}
      <td colspan="17" class="regular-item__ongoing"><a href="{{d.url}}" title="Go to this project">This is an ongoing project</a></td>

      {% else %}
      <td class="links cat-transparency">{% if d.transparency.increased_knowledge %} {{yes()}} {% endif %}</td>
      <td class="links cat-transparency">{% if d.transparency.transparency %} {{yes()}} {% endif %}</td>
      <td class="links cat-transparency">{% if d.transparency.budget %} {{yes()}} {% endif %}</td>
      <td class="links cat-citizen-engagement">{% if d.citizen_engagement.voter_turnout %} {{yes()}} {% endif %}</td>
      <td class="links cat-citizen-engagement">{% if d.citizen_engagement.evidence_based %} {{yes()}} {% endif %}</td>
      <td class="links cat-citizen-engagement">{% if d.citizen_engagement.enhanced_engagement %} {{yes()}} {% endif %}</td>
      <td class="links cat-responsiveness">{% if d.responsiveness.answerability %} {{yes()}} {% endif %}</td>
      <td class="links cat-responsiveness">{% if d.responsiveness.inclusive_decisionmaking %} {{yes()}} {% endif %}</td>
      <td class="links cat-accountability">{% if d.accountability.hiring_firing %} {{yes()}} {% endif %}</td>
      <td class="links cat-accountability">{% if d.accountability.service_delivery %} {{yes()}} {% endif %}</td>
      <td class="links cat-accountability">{% if d.accountability.improved_services %} {{yes()}} {% endif %}</td>
      <td class="links cat-accountability">{% if d.accountability.reduced_corruption %} {{yes()}} {% endif %}</td>
      <td class="links cat-accountability">{% if d.accountability.other %} {{yes()}} {% endif %}</td>
      <td class="links cat-social-economic-change">{% if d.social_economic_change.increased_efficiency %} {{yes()}} {% endif %}</td>
      <td class="links cat-social-economic-change">{% if d.social_economic_change.improved_health %} {{yes()}} {% endif %}</td>
      <td class="links cat-social-economic-change">{% if d.social_economic_change.compliance %} {{yes()}} {% endif %}</td>
      <td class="links cat-social-economic-change">{% if d.social_economic_change.trust_gov %} {{yes()}} {% endif %}</td>
      {% endif %}

      <td class="inactive-cell"></td>
    </tr>
    {% endif %}

  {% endfor %}

  <tr class="inter-header--final">
      <td colspan="22">&nbsp;</td>
    </tr>    

  </table>
</div>
</div> <!-- End #Desktop View -->

<div id="mobile">

<ul class="mobile-list">
{% for d in data %}
    {% if d.intervention %}
    <li class="mobile-item js-toggle">

      <h1 class="mobile-item__intervention">{{d.intervention}}</h1>
      <h2 class="mobile-item__organization">{{d.organization}}</h2>
      
      {% if d.methodology %}<p class="mobile-item__methodology">Methodology <span>{{ d.methodology}}</span></p>{% endif %}
      {% if d.country %}<p class="mobile-item__country">Country <span>{{ d.country}}</span></p>{% endif %}
      
      {% if d.transparency %}
      <div class="mobile-item__engagement mobile-item--transparency">
        <h3>Transparency</h3>
        <div>
          {% if d.transparency.increased_knowledge %}<p>Increased knowledge of rights</p>{% endif %}
          {% if d.transparency.transparency %}<p>Transparency</p>{% endif %}
          {% if d.transparency.budget %}<p>Budget transparency</p>{% endif %}
        </div>
      </div>
      {% endif %}
      
      {% if d.citizen_engagement %}
      <div class="mobile-item__engagement mobile-item--citizen-engagement">
        <h3>Citizen Engagement and Participation</h3>
        <div>
          {% if d.citizen_engagement.voter_turnout %}<p>Voter turnout</p>{% endif %}
          {% if d.citizen_engagement.evidence_based %}<p>Evidence-based electoral decisionmaking</p>{% endif %}
          {% if d.citizen_engagement.enhanced_engagement %}<p>Enhanced engagement other than voting</p>{% endif %}
        </div>
      </div>
      {% endif %}
      
      {% if d.responsiveness %}
      <div class="mobile-item__engagement mobile-item--responsiveness">
        <h3>Responsiveness</h3>
        <div>
          {% if d.responsiveness.answerability %}<p>Answerability</p>{% endif %}
          {% if d.responsiveness.inclusive_decisionmaking %}<p>More inclusive decision-making</p>{% endif %}
        </div>
      </div>
      {% endif %}

      {% if d.accountability %}
      <div class="mobile-item__engagement mobile-item--accountability">
        <h3>Accountability</h3>
        <div>
          {% if d.accountability.hiring_firing %}<p>Hiring and firing</p>{% endif %}
          {% if d.accountability.service_delivery %}<p>Equitable service delivery</p>{% endif %}
          {% if d.accountability.improved_services %}<p>Improved Public Services</p>{% endif %}
          {% if d.accountability.reduced_corruption %}<p>Reduced corruption</p>{% endif %}
          {% if d.accountability.other %}<p>Other local government and service provider accountability</p>{% endif %}
        </div>
      </div>
      {% endif %}

      {% if d.social_economic_change %}
      <div class="mobile-item__engagement mobile-item--social-change">
        <h3 style="letter-spacing: -0.2px">Social, Economic, Environmental change</h3>   
        <div>
          {% if d.social_economic_change.increased_efficiency %}<p>Increased efficiency of government</p>{% endif %}
          {% if d.social_economic_change.improved_health %}<p>Improved Health Outcomes</p>{% endif %}
          {% if d.social_economic_change.compliance %}<p>Regulatory compliance</p>{% endif %}
          {% if d.social_economic_change.trust_gov %}<p>Trust in government</p>{% endif %}
        </div>
      </div>
      {% endif %}

      {% if d.ongoing %}
        <p class="mobile-item__ongoing">This is an ongoing project</p>
      {% endif %}

      <p class="mobile-item__link"><a class="button" href="{{d.url}}" target="_blank">Go to Project</a></p>

    </li>
    {% endif %}

    

{% endfor %}
</ul>

</div>
{% endblock %}