{% extends '_base.html' %}
{% block main %}

{% macro yes() %}
<a href="{{d.url}}" target="_blank" class="yes"><i class="material-icons">check</i></a>
{% endmacro %}

<table class="table">
  <thead class="table-header">
    <tr class="table-header__top">
      <th colspan="3">Open Government Outcomes and Impact</th>
      <th colspan="3">Transparency</th>
      <th colspan="3">Citizen Engagement and Participation</th>
      <th colspan="2">Responsiveness</th>
      <th colspan="5">Accountability</th>
      <th colspan="4">Social, Economic, Environmental change</th>
    </tr>
    <tr class="table-header__bottom">
      <th><div class="vertical-text"><div class="vertical-text__inner">Type of Intervention tested</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">Organization</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">Primary Methodology</div></div></th>
      
      <th><div class="vertical-text"><div class="vertical-text__inner">Increased knowledge of rights</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">Transparency</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">Budget transparency</div></div></th>
      
      <th><div class="vertical-text"><div class="vertical-text__inner">Voter turnout</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">Evidence-based electoral decisionmaking</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">Enhanced engagement other than voting</div></div></th>
      
      <th><div class="vertical-text"><div class="vertical-text__inner">Answerability</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">More inclusive decision-making</div></div></th>
      
      <th><div class="vertical-text"><div class="vertical-text__inner">Hiring and firing</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">Equitable service delivery</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">Improved Public Services</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">Reduced corruption</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">Other local gov't and service provider accountability</div></div></th>

      <th><div class="vertical-text"><div class="vertical-text__inner">Improved Health Outcomes</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">Regulatory compliance</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">Trust in government</div></div></th>
      <th><div class="vertical-text"><div class="vertical-text__inner">Increased efficiency of government</div></div></th>

      <th><div class="vertical-text"><div class="vertical-text__inner">Countries</div></div></th>
    </tr>
  </thead>
  <tbody class="table-body">
  {% for d in data %}
  
    {% if d.intertitle %}
    <tr class="inter-header">
      <td colspan="20">{{d.intertitle}}</td>
    </tr>

    {% else %}
    <tr class="regular-item {{d.category}}">
      <td>{{d.intervention}}</td>
      <td>{{d.organization}}</td>
      <td>{{d.methodology}}</td>
      
      <td class="transparency">{% if d.transparency.increased_knowledge %} {{yes()}} {% endif %}</td>
      <td class="transparency">{% if d.transparency.transparency %} {{yes()}} {% endif %}</td>
      <td class="transparency">{% if d.transparency.budget %} {{yes()}} {% endif %}</td>

      <td class="citizen-engagement">{% if d.citizen_engagement.voter_turnout %} {{yes()}} {% endif %}</td>
      <td class="citizen-engagement">{% if d.citizen_engagement.evidence_based %} {{yes()}} {% endif %}</td>
      <td class="citizen-engagement">{% if d.citizen_engagement.enhanced_engagement %} {{yes()}} {% endif %}</td>
      
      <td class="responsiveness">{% if d.responsiveness.answerability %} {{yes()}} {% endif %}</td>
      <td class="responsiveness">{% if d.responsiveness.inclusive_decisionmaking %} {{yes()}} {% endif %}</td>

      <td class="accountability">{% if d.accountability.hiring_firing %} {{yes()}} {% endif %}</td>
      <td class="accountability">{% if d.accountability.service_delivery %} {{yes()}} {% endif %}</td>
      <td class="accountability">{% if d.accountability.improved_services %} {{yes()}} {% endif %}</td>
      <td class="accountability">{% if d.accountability.reduced_corruption %} {{yes()}} {% endif %}</td>
      <td class="accountability">{% if d.accountability.other %} {{yes()}} {% endif %}</td>
      
      <td class="social-economic-change">{% if d.social_economic_change.improved_health %} {{yes()}} {% endif %}</td>
      <td class="social-economic-change">{% if d.social_economic_change.compliance %} {{yes()}} {% endif %}</td>
      <td class="social-economic-change">{% if d.social_economic_change.trust_gov %} {{yes()}} {% endif %}</td>
      <td class="social-economic-change">{% if d.social_economic_change.increased_efficiency %} {{yes()}} {% endif %}</td>

      <td>{{d.country}}</td>
    </tr>
    {% endif %}
  
  {% endfor %}
  </tbody>
  <tfoot class="table-footer">
    
  </tfoot>
</table>

{% endblock %}