{% extends '_base.html' %}
{% block main %}

{% macro yes() %}
<a href="{{d.url}}" target="_blank" class="yes"><i class="material-icons">check</i></a>
{% endmacro %}

<table class="table-header">
  
  <tr class="table-header__bottom table table-header-rotated">
    <td class="col-1">Type of Intervention tested</td>
    <td class="col-2">Organization</td>
    <td class="col-3">Primary Metdodology</td>
    <td class="col-4">Countries</td>
    <td class="rotate"><div><span>Increased knowledge of rights</span></div></td>
    <td class="rotate"><div><span>Transparency</span></div></td>
    <td class="rotate"><div><span>Budget transparency</span></div></td>
    <td class="rotate"><div><span>Voter turnout</span></div></td>
    <td class="rotate"><div><span>Evidence-based electoral decisionmaking</span></div></td>
    <td class="rotate"><div><span>Enhanced engagement otder tdan voting</span></div></td>
    <td class="rotate"><div><span>Answerability</span></div></td>
    <td class="rotate"><div><span>More inclusive decision-making</span></div></td>
    <td class="rotate"><div><span>Hiring and firing</span></div></td>
    <td class="rotate"><div><span>Equitable service delivery</span></div></td>
    <td class="rotate"><div><span>Improved Public Services</span></div></td>
    <td class="rotate"><div><span>Reduced corruption</span></div></td>
    <td class="rotate"><div><span>Otder local gov't and service provider accountability</span></div></td>
    <td class="rotate"><div><span>Improved Healtd Outcomes</span></div></td>
    <td class="rotate"><div><span>Regulatory compliance</span></div></td>
    <td class="rotate"><div><span>Trust in government</span></div></td>
    <td class="rotate"><div><span>Increased efficiency of government</span></div></td>
    <td class="inactive-cell"></td>
  </tr>
  <tr class="table-categories">
      <th title="Open Government Outcomes and Impact" class="cat-info" colspan="4">Open Government Outcomes and Impact</th>
      <th title="Transparency" class="cat-transparency" colspan="3">Transparency</th>
      <th title="Citizen Engagement and Participation" class="cat-citizen-engagement" colspan="3">Citizen Engagement and Participation</th>
      <th title="Responsiveness" class="cat-responsiveness" colspan="2">Responsiveness</th>
      <th title="Accountability" class="cat-accountability" colspan="5">Accountability</th>
      <th title="Social, Economic, Environmental change" class="cat-social-economic-change" colspan="4">Social, Economic, Environmental change</th>
      <th class="inactive-cell"></th>
    </tr>
</table>

<div class="table-scroll">
  <table class="table-body">
  <thead>
    <tr class="table-body__width-setter">
      <td class="col-1"></td>
      <td class="col-2"></td>
      <td class="col-3"></td>
      <td class="col-4"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="inactive-cell"></td>
    </tr>
  </thead>
  {% for d in data %}

    {% if d.intertitle %}
    <tr class="inter-header">
      <td colspan="22">{{d.intertitle}}</td>
    </tr>

    {% else %}
    <tr class="regular-item {{d.category}}">
      <td class="col-1" title="{{d.intervention}}">{{d.intervention}}</td>
      <td class="col-2" title="{{d.organization}}">{{d.organization}}</td>
      <td class="col-3" title="{{d.methodology}}">{{d.methodology}}</td>
      <td class="col-4" title="{{d.country}}">{{d.country}}</td>
      <td class="links cat-transparency">{% if d.transparency.increased_knowledge %} {{yes()}} {% endif %}</td>
      <td class="links cat-transparency">{% if d.transparency.transparency %} {{yes()}} {% endif %}</td>
      <td class="links cat-transparency">{% if d.transparency.budget %} {{yes()}} {% endif %}</td>
      <td class="links cat-citizen-engagement">{% if d.citizen_engagement.voter_turnout %} {{yes()}} {% endif %}</td>
      <td class="links cat-citizen-engagement">{% if d.citizen_engagement.evidence_based %} {{yes()}} {% endif %}</td>
      <td class="links cat-citizen-engagement">{% if d.citizen_engagement.enhanced_engagement %} {{yes()}} {% endif %}</td>
      <td class="links cat-responsiveness">{% if d.responsiveness.answerability %} {{yes()}} {% endif %}</td>
      <td class="links cat-responsiveness">{% if d.responsiveness.inclusive_decisionmaking %} {{yes()}} {% endif %}</td>
      <td class="links cat-accountability">{% if d.accountability.hiring_firing %} {{yes()}} {% endif %}</td>
      <td class="links cat-accountability">{% if d.accountability.service_delivery %} {{yes()}} {% endif %}</td>
      <td class="links cat-accountability">{% if d.accountability.improved_services %} {{yes()}} {% endif %}</td>
      <td class="links cat-accountability">{% if d.accountability.reduced_corruption %} {{yes()}} {% endif %}</td>
      <td class="links cat-accountability">{% if d.accountability.other %} {{yes()}} {% endif %}</td>
      <td class="links cat-social-economic-change">{% if d.social_economic_change.improved_health %} {{yes()}} {% endif %}</td>
      <td class="links cat-social-economic-change">{% if d.social_economic_change.compliance %} {{yes()}} {% endif %}</td>
      <td class="links cat-social-economic-change">{% if d.social_economic_change.trust_gov %} {{yes()}} {% endif %}</td>
      <td class="links cat-social-economic-change">{% if d.social_economic_change.increased_efficiency %} {{yes()}} {% endif %}</td>
      <td class="inactive-cell"></td>
    </tr>
    {% endif %}

  {% endfor %}
  </table>
</div>
{% endblock %}