{% extends '_base.html' %}
{% block main %}



<div class="submit-page">
<div class="form">

<form action="https://docs.google.com/forms/d/1uZr1qhfxmLD-hOj38b747tvpZQOC-MhFNSW63vY8CIU/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0;">
      <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
                  <label class="ss-q-item-label" for="entry_2022128456"><div class="ss-q-title">Type of Intervention
                  <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                  <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                  <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.2022128456" value="" class="ss-q-short" id="entry_2022128456" dir="auto" aria-label="Type of Intervention  " aria-required="true" required="" title="">
<div class="error-message" id="1487091920_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1693150096"><div class="ss-q-title">Organization
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.1693150096" value="" class="ss-q-short" id="entry_1693150096" dir="auto" aria-label="Organization  " aria-required="true" required="" title="">
<div class="error-message" id="1108049566_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_977430863"><div class="ss-q-title">Methodology
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.977430863" value="" class="ss-q-short" id="entry_977430863" dir="auto" aria-label="Methodology  " aria-required="true" required="" title="">
<div class="error-message" id="572092283_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_2083084865"><div class="ss-q-title">Countries
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.2083084865" value="" class="ss-q-short" id="entry_2083084865" dir="auto" aria-label="Countries  " aria-required="true" required="" title="">
<div class="error-message" id="667920279_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-checkbox"><div class="ss-form-entry">

<label class="ss-q-item-label" for="entry_450906430"><div class="ss-q-title">Is this a ongoing project?
</div><div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<ul class="ss-choices" role="group" aria-label="Is this a ongoing project?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.819808831" value="This is a ongoing project" id="group_819808831_1" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">This is a ongoing project</span>
</label></li></ul>
<div class="error-message" id="450906430_errorMessage"></div>
<div class="required-message">This is a required question</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-checkbox"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_840037841"><div class="ss-q-title">Transparency
</div><div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

<ul class="ss-choices" role="group" aria-label="Transparency  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1934413671" value="Fiscal and budget transparency" id="group_1934413671_1" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Fiscal and budget transparency</span>
</label></li></ul>
<div class="error-message" id="840037841_errorMessage"></div>
<div class="required-message">This is a required question</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-checkbox"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1996934"><div class="ss-q-title">Citizen Engagement and Participation
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

<ul class="ss-choices" role="group" aria-label="Citizen Engagement and Participation  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1819280592" value="Voter turnout" id="group_1819280592_1" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Voter turnout</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1819280592" value="Evidence-based electoral decisionmaking" id="group_1819280592_2" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Evidence-based electoral decisionmaking</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1819280592" value="Enhanced engagement other than voting" id="group_1819280592_3" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Enhanced engagement other than voting</span>
</label></li></ul>
<div class="error-message" id="1996934_errorMessage"></div>
<div class="required-message">This is a required question</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-checkbox"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_948465072"><div class="ss-q-title">Responsiveness
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

<ul class="ss-choices" role="group" aria-label="Responsiveness  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.167330069" value="Answerability to public inquiry" id="group_167330069_1" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Answerability to public inquiry</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.167330069" value="More inclusive decision-making processes" id="group_167330069_2" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">More inclusive decision-making processes</span>
</label></li></ul>
<div class="error-message" id="948465072_errorMessage"></div>
<div class="required-message">This is a required question</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-checkbox"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1882185913"><div class="ss-q-title">Accountability
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

<ul class="ss-choices" role="group" aria-label="Accountability  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1220854769" value="Hiring and firing of civil servants" id="group_1220854769_1" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Hiring and firing of civil servants</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1220854769" value="Increased equity in service delivery" id="group_1220854769_2" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Increased equity in service delivery</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1220854769" value="Increased quality in service delivery" id="group_1220854769_3" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Increased quality in service delivery</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1220854769" value="Reduced corruption" id="group_1220854769_4" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Reduced corruption</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1220854769" value="Other local gov&#39;t and service provider accountability" id="group_1220854769_5" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Other local gov&#39;t and service provider accountability</span>
</label></li></ul>
<div class="error-message" id="1882185913_errorMessage"></div>
<div class="required-message">This is a required question</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-checkbox"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_788063589"><div class="ss-q-title">Social, Economic, Environmental change
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

<ul class="ss-choices" role="group" aria-label="Social, Economic, Environmental change  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1921942726" value="Improved Health Outcomes" id="group_1921942726_1" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Improved Health Outcomes</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1921942726" value="Better regulatory compliance" id="group_1921942726_2" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Better regulatory compliance</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1921942726" value="Enhanced trust in government" id="group_1921942726_3" role="checkbox" class="ss-q-checkbox"></span>
<span class="ss-choice-label">Enhanced trust in government</span>
</label></li></ul>
<div class="error-message" id="788063589_errorMessage"></div>
<div class="required-message">This is a required question</div></div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;3110456687948758671&quot;]
">
<input type="hidden" name="pageHistory" value="0">



<input type="hidden" name="fbzx" value="3110456687948758671">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action "></td></tr></tbody></table></div>
</ol>
</form>
</div>

  
</div>

<a class="byline" href="http://www.claudiomendonca.com" target="_blank" title="Claudio Mendonca">Designed and Developed by Claudio Mendonca</a>
{% endblock %}



