{% extends '_base.html' %}
{% block main %}



<div class="submit-page">
  <h1>Submit your Research</h1>

  <form class="form" action="https://docs.google.com/forms/d/1uZr1qhfxmLD-hOj38b747tvpZQOC-MhFNSW63vY8CIU/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">

    <label for="entry_2022128456">Type of Intervention<sup>*</sup></label>
    <input type="text" name="entry.2022128456" value="" class="ss-q-short" id="entry_2022128456" dir="auto" aria-label="Type of Intervention  " aria-required="true" required="" title="">

    <label for="entry_1693150096">Organization<sup>*</sup></label>
    <input type="text" name="entry.1693150096" value="" class="ss-q-short" id="entry_1693150096" dir="auto" aria-label="Organization" aria-required="true" required="" title="">

    <label for="entry_977430863">Methodology<sup>*</sup></label>
    <input type="text" name="entry.977430863" value="" class="ss-q-short" id="entry_977430863" dir="auto" aria-label="Methodology  " aria-required="true" required="" title="">

    <label for="entry_2083084865">Countries<sup>*</sup></label>
    <input type="text" name="entry.2083084865" value="" class="ss-q-short" id="entry_2083084865" dir="auto" aria-label="Countries  " aria-required="true" required="" title="">

    <h2><label for="entry_450906430">Is this a ongoing project?</label></h2>
    <label><input type="checkbox" name="entry.819808831" value="This is a ongoing project" id="group_819808831_1" role="checkbox">This is a ongoing project</label>

    <h2><label for="entry_840037841">Transparency</label></h2>
    <label><input type="checkbox" name="entry.1934413671" value="Fiscal and budget transparency" id="group_1934413671_1" role="checkbox">Fiscal and budget transparency</label>

    <h2><label for="entry_1996934">Citizen Engagement and Participation</label></h2>

    <ul role="group" aria-label="Citizen Engagement and Participation">
      <li><label><input type="checkbox" name="entry.1819280592" value="Voter turnout" id="group_1819280592_1" role="checkbox">Voter turnout</label></li>

      <li><label><input type="checkbox" name="entry.1819280592" value="Evidence-based electoral decisionmaking" id="group_1819280592_2" role="checkbox">Evidence-based electoral decisionmaking</label></li>

      <li><label><input type="checkbox" name="entry.1819280592" value="Enhanced engagement other than voting" id="group_1819280592_3" role="checkbox">Enhanced engagement other than voting</label></li>
    </ul>

    <h2><label for="entry_948465072">Responsiveness</label></h2>

    <ul role="group" aria-label="Responsiveness">
      <li><label><input type="checkbox" name="entry.167330069" value="Answerability to public inquiry" id="group_167330069_1" role="checkbox">Answerability to public inquiry</label></li>

      <li><label><input type="checkbox" name="entry.167330069" value="More inclusive decision-making processes" id="group_167330069_2" role="checkbox">More inclusive decision-making processes</label></li>
    </ul>


    <h2><label for="entry_1882185913">Accountability</label></h2>

    <ul role="group" aria-label="Accountability  ">
      <li><label><input type="checkbox" name="entry.1220854769" value="Hiring and firing of civil servants" id="group_1220854769_1" role="checkbox">Hiring and firing of civil servants</label></li>

      <li><label><input type="checkbox" name="entry.1220854769" value="Increased equity in service delivery" id="group_1220854769_2" role="checkbox">Increased equity in service delivery</label></li>

      <li><label><input type="checkbox" name="entry.1220854769" value="Increased quality in service delivery" id="group_1220854769_3" role="checkbox">Increased quality in service delivery</label></li>

      <li><label><input type="checkbox" name="entry.1220854769" value="Reduced corruption" id="group_1220854769_4" role="checkbox">Reduced corruption</label></li>

      <li><label><input type="checkbox" name="entry.1220854769" value="Other local gov&#39;t and service provider accountability" id="group_1220854769_5" role="checkbox">Other local gov&#39;t and service provider accountability</label></li>
    </ul>

    <h2><label for="entry_788063589">Social, Economic, Environmental change</label></h2>

    <ul role="group" aria-label="Social, Economic, Environmental change">
      <li><label><input type="checkbox" name="entry.1921942726" value="Improved Health Outcomes" id="group_1921942726_1" role="checkbox">Improved Health Outcomes</label></li>

      <li><label><input type="checkbox" name="entry.1921942726" value="Better regulatory compliance" id="group_1921942726_2" role="checkbox">Better regulatory compliance</label></li>

      <li><label><input type="checkbox" name="entry.1921942726" value="Enhanced trust in government" id="group_1921942726_3" role="checkbox">Enhanced trust in government</label></li>
    </ul>

    <input type="hidden" name="draftResponse" value="[,,&quot;3110456687948758671&quot;]"><input type="hidden" name="pageHistory" value="0">
    <input type="hidden" name="fbzx" value="3110456687948758671">
    <input type="submit" name="submit" value="Submit" id="ss-submit" class="button jfk-button jfk-button-action">
  </form>
</div>

{% endblock %}



