// ====================================================
// Branding 
// ====================================================

.branding {
  @include breakpoint($small) {
    padding: 20px;
    text-align: center;
    border-top: 4px solid $main-color;

    &__logo { max-width: 50%; }
    &__title { 
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 0;
    }

    &__tagline {
      margin: 0;
      font-weight: 600;
      font-size: 1rem;
      text-transform: uppercase;
      color: rgba($black, .4);      
    }

    &__status {
      margin: 0;
      text-transform: uppercase;
      font-weight: 100;
    }
  }

  @include breakpoint($large) {
    position: absolute;
    background-color: white;
    padding: 42px 0 18px 42px;
    width: 40%;
    min-width: 400px;  

    &__logo {
      max-width: 240px;
    }

    &__title,
    &__tagline,
    &__status {
      margin: 0 0 0 52px;
    }    

    &__title {
      font-weight: 300;
      font-size: 1.3rem;    
      color: rgba($black, .6);
    }

    &__tagline {
      font-size: .9rem;
      font-weight: 800;
      text-transform: uppercase;
      color: rgba($black, .4);
      letter-spacing: .3px;
    }

    &__status {
      text-transform: uppercase;
      font-weight: 100;
    }
  }
}