// ====================================================
// Setting some base styles for body and table elements
// ====================================================

body {
  font-size: 11px;
  line-height: 1.5;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  width: 100vw;
  @include breakpoint($large) {overflow: hidden;}
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

td, th { 
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th { 
  text-align: left; 
  font-weight: 100;
}

.links { 
  text-align: center; 
  width: 45px !important;
}

// ====================================================
// Creates the scrollable section of the table
// ====================================================

.table-scroll {
  height: 70vh;
  overflow: scroll;
  padding-bottom: 50px;
}


// ====================================================
// Hides this helper row. This row is used to set the custom width for the columns
// ====================================================

.table-body__width-setter td {
  height: 0;
  padding: 0;
}


// ====================================================
// Sets the zebra apttern for the rows
// ====================================================

.col-2,
.col-4,
tr:nth-child(2n) { background-color: rgba($black, .05); }

// ====================================================
// Setting the width and bg-color of the columns
// ====================================================

.col-1 { width: 18%; }
.col-2 { width:  7%; }
.col-3 { width:  9%; }
.col-4 { width:  5%; }

.inactive-cell { 
  background-color: rgba(white, .5); 
  width: 5%;
}


// ====================================================
// Sets the styles for the dividers in the scrollable section
// ====================================================

.inter-header {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  
  td { 
    padding: 12px 0 10px; 
    background-color: $main-color;
    color: white;
    letter-spacing: .5px;
  }

  &--final {
    background-color: rgba($black, .8) !important;
  }
}


// ====================================================
// Sets the styles for the header
// ====================================================

.table-header {
  box-shadow: 0 3px 5px rgba($black, .2);

  td { padding: 10px 15px 10px 5px; }

  &__top td { vertical-align: bottom; }
}

.table-categories {
  th {
    font-weight: bold;
    color: white;
    background-color: $black;
    text-align: center;
  }

  th:first-child {
    text-align: left;
  }
}


// ====================================================
// Styles for the Rows
// ====================================================
.regular-item {
  
  &__ongoing {
    text-align: center;
    // background-color: rgba($main-color, .4);

    a { 
      text-decoration: none; 
      font-weight: 400;
      color: $main-color;
      padding: 7px;
      display: block;
      font-size: 12px;
    }

  }
}

.yes {
  position: relative;
  background-color: rgba($black, .2);
  padding: 4px;
  vertical-align: bottom;
  display: inline-block;
  transform: scale(1) rotate(-45deg);
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 14px;
  transition: all .3s ease;

  .material-icons {
    font-size: 1.3rem;
  }


  &:hover {
    transform: scale(1.2) rotate(135deg);    
    transition: all .3s ease;
    color: white;
    background-color: rgba($black, .7);
  }
}


// ====================================================
// Sets the styles for the inclined labels
// ====================================================

// Inspired in CSS Tricks - https://css-tricks.com/rotated-table-column-headers/

.table-header-rotated {
  .rotate {
    overflow: visible;
    height: 200px;
    white-space: nowrap;
    // Firefox needs the extra DIV for some reason, otherwise the text disappears if you rotate 
    > div {
      transform: 
        // Magic Numbers
        translate(22px, 5px)
        // 45 is really 360-45
        rotate(315deg);
      width: 30px;
    }
    > div > span {
      padding: 9px 0 8px 0;
      width: 350px;
      display: inline-block;
      position: relative;

      &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        position: absolute;
        border-width: 0 31px 31px 31px;
        top: 0px;
        left: -62px;
      }
    }
  }
}


// ====================================================
// Color Coding
// ====================================================

.links.cat-transparency                           { background-color:   rgba($transparency-color, .1); }
.links.cat-transparency .yes                      { background-color:   rgba($transparency-color, 1); }
.links.cat-transparency:nth-of-type(2n)           { background-color:   rgba($transparency-color, .15); }
.cat-transparency:before                          { border-right-color: rgba($transparency-color, .1) !important; }

.links.cat-citizen-engagement                     { background-color:   rgba($citizen-engagement-color, .1); }
.links.cat-citizen-engagement .yes                { background-color:   rgba($citizen-engagement-color, 1); }
.links.cat-citizen-engagement:nth-of-type(2n)     { background-color:   rgba($citizen-engagement-color, .15); }
.cat-citizen-engagement:before                    { border-right-color: rgba($citizen-engagement-color, .1) !important; }

.links.cat-responsiveness                         { background-color:   rgba($responsiveness-color, .1); }
.links.cat-responsiveness .yes                    { background-color:   rgba($responsiveness-color, 1); }
.links.cat-responsiveness:nth-of-type(2n)         { background-color:   rgba($responsiveness-color, .15); }
.cat-responsiveness:before                        { border-right-color: rgba($responsiveness-color, .1) !important; }

.links.cat-accountability                         { background-color:   rgba($accountability-color, .1); }
.links.cat-accountability .yes                    { background-color:   rgba($accountability-color, 1); }
.links.cat-accountability:nth-of-type(2n)         { background-color:   rgba($accountability-color, .15); }
.cat-accountability:before                        { border-right-color: rgba($accountability-color, .1) !important; }

.links.cat-social-economic-change                 { background-color:   rgba($social-change-color, .1); }
.links.cat-social-economic-change .yes            { background-color:   rgba($social-change-color, 1); }
.links.cat-social-economic-change:nth-of-type(2n) { background-color:   rgba($social-change-color, .15); }
.cat-social-economic-change:before                { border-right-color: rgba($social-change-color, .1) !important; }


.table-categories {
  .cat-transparency            { background-color: $transparency-color; }
  .cat-citizen-engagement      { background-color: $citizen-engagement-color; }
  .cat-responsiveness          { background-color: $responsiveness-color; }
  .cat-accountability          { background-color: $accountability-color; }
  .cat-social-economic-change  { background-color: $social-change-color; }
}

.table-header-rotated {
  .cat-transparency > div > span                                  { background-color:   rgba($transparency-color, .1); }
  .cat-transparency:nth-of-type(2n) > div > span                  { background-color:   rgba($transparency-color, .15); }
  .cat-transparency:nth-of-type(2n) > div > span:before           { border-right-color: rgba($transparency-color, .15); }
  .cat-transparency > div > span:before                           { border-right-color: rgba($transparency-color, .1); }
  
  
  .cat-citizen-engagement > div > span                            { background-color:   rgba($citizen-engagement-color, .1); }
  .cat-citizen-engagement:nth-of-type(2n) > div > span            { background-color:   rgba($citizen-engagement-color, .15); }
  .cat-citizen-engagement:nth-of-type(2n) > div > span:before     { border-right-color: rgba($citizen-engagement-color, .15); }
  .cat-citizen-engagement > div > span:before                     { border-right-color: rgba($citizen-engagement-color, .1); }
  
  
  .cat-responsiveness > div > span                                { background-color:   rgba($responsiveness-color, .1); }
  .cat-responsiveness:nth-of-type(2n) > div > span                { background-color:   rgba($responsiveness-color, .15); }
  .cat-responsiveness:nth-of-type(2n) > div > span:before         { border-right-color: rgba($responsiveness-color, .15); }
  .cat-responsiveness > div > span:before                         { border-right-color: rgba($responsiveness-color, .1); }
  
  
  .cat-accountability > div > span                                { background-color:   rgba($accountability-color, .1); }
  .cat-accountability:nth-of-type(2n) > div > span                { background-color:   rgba($accountability-color, .15); }
  .cat-accountability:nth-of-type(2n) > div > span:before         { border-right-color: rgba($accountability-color, .15); }
  .cat-accountability > div > span:before                         { border-right-color: rgba($accountability-color, .1); }
  
  
  .cat-social-economic-change > div > span                        { background-color:   rgba($social-change-color, .1); }
  .cat-social-economic-change:nth-of-type(2n) > div > span        { background-color:   rgba($social-change-color, .15); }
  .cat-social-economic-change:nth-of-type(2n) > div > span:before { border-right-color: rgba($social-change-color, .15); }
  .cat-social-economic-change > div > span:before                 { border-right-color: rgba($social-change-color, .1); }
}


// ====================================================
// Hides the table view in smaller screens
// ====================================================

#desktop { 
  @include breakpoint($small) { display: none; }
}