.submit-page {
  padding: 42px 20px;
  margin: 0 auto;
  max-width: 560px;
  font-size: .9rem;

  h1,
  h2 {
    font-family: $fancy-type;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  h2 {
    font-size: 1rem;
  }
}

.form {


  ul { 
    padding: 0; 
    margin: 0;
  }
  li { 
    list-style-type: none; 
    margin: 0;
    padding: 0;
  }



  .required-message { display: none; }

  label {
    display: block;
    padding: 5px 0;
  }

  input[type="text"] {
    width: 100%;
    padding: 5px 10px;
    font-size: 1.1rem;
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }

  input[type="submit"] {
    margin-top: 30px;
  }


}