

.row {

}

.column { 
  padding: 10px; 
}

.flex-container {
  display: flex;
}

.flex {
  flex: 1;
}

.intertitle {
  background-color: #333;
  color: white;
  padding: 15px;
  font-weight: bold;
}

.column-info1,
.column-info2,
.column-info3,
.column-info4  {
  
}

.column-info {
  width: 40%;
  background-color: orange;
}

// .column-info1 { 
//   // width: 10%; 
//   background-color: yellow;
// }

// .column-info2 { 
//   // width: 10%;
//   background-color: green;
// }

// .column-info3 { 
//   // width: 10%; 
//   background-color: blue;
// }

// .column-info4 { 
//   // width: 10%; 
//   background-color: red;
// }
