.table-header {
  box-shadow: 0 3px 5px rgba($black, .1);

  th {
    padding: 15px;
    font-weight: 100;
  }

  &__bottom {
    background-color: white;
    th { vertical-align: bottom; }
  }
}

.table-categories {
    background-color: rgba($black, .1);
    
    td { 
      vertical-align: top;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    td { width: 3%; }

    .col-1 { width: 20%; }
    .col-2 { width:  7%; }
    .col-3 { width:  9%; }
    .col-4 { width:  5%; }
}