body {
  font-size: 11px;
  line-height: 1.5;
  font-family: sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

td { 
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr:nth-child(2n) { background-color: rgba($black, .05); }
td:nth-child(2n):not(:last-child) { background-color: rgba($black, .05); }

td { width: 3%; }

.col-1 { width: 20%; }
.col-2 { width:  7%; }
.col-3 { width:  9%; }
.col-4 { width:  5%; } 

td:last-child { 
  width: 9%; 
  background-color: rgba(white, .5);
}

.table-header__bottom.table-header__bottom {
  vertical-align: bottom;

  td {
    background-color: #FFF;
    font-weight: bold;
  }
}

.table-body thead td { padding: 0; }

.regular-item td {

}

.links {
  text-align: center;
}