.table-scroll {
  height: 65vh; //70
  overflow: scroll;
}

.inter-header {
  
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  
  td { 
    padding: 10px; 
    background-color: rgba($blue, .3);
  }
}